<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body>

    <div class="container content">
    <div class="masthead">
        <h1 class="masthead-title">
          <a href="/" title="Home" style="
    color: #111;
">Deryk Makgill</a>


        </h1>
      <div style="
    padding-left: 0px;
    padding-top: -100px;
"><small><a href="/about/">About</a></small>
          
              &nbsp;&nbsp;&nbsp;<small><a href="/archive/">Archive</a></small>
          
              &nbsp;&nbsp;&nbsp;<small><a href="/atom.xml">Feed</a></small>
          
              &nbsp;&nbsp;&nbsp;<small><a href="/atom.xml">Patreon</a></small>
          
              &nbsp;&nbsp;&nbsp;<small><a href="/atom.xml">Let's Work Together</a></small>
          
              &nbsp;&nbsp;&nbsp;
    </div></div>

      {{ content }}

    
    </div>

  </body>
  
</html>
